# DropNa Training Data 

Drop all instances containing missing values

In [52]:
import pandas as pd, numpy as np, re

In [53]:
col_names = ['age','workclass','fnlwgt','education', 'education_num','marital_status',
             'occupation','relationship','race','sex','capital_gain','capital_loss', 
             'hours_per_week','native_country','50k']

In [54]:
df_train_raw_w_nans = pd.read_csv('census-income.data.csv', names = col_names)

In [55]:
df_train_raw_w_nans.replace(' ?', np.nan, inplace=True)

In [56]:
df_train_raw = df_train_raw_w_nans.dropna()

# Missing Values

In [57]:
print('training data set contains {} rows with missing values'.format(len(df_train_raw_w_nans) - len(df_train_raw)))

training data set contains 2399 rows with missing values

In [58]:
print('{}% of our instances contained missing values '.format(2399/(24720+7481)*100))

7.450079190087264% of our instances contained missing values

# Unabalanced Data

In [59]:
target_w_nans = pd.get_dummies(df_train_raw_w_nans).iloc[:,-1]
target_w_nans.value_counts()

0    24720
1     7841
Name: 50k_ >50K, dtype: int64

In [60]:
print('negative instances accounted for {}% of our times'.format(24720/(24720+7481)*100))

negative instances accounted for 76.7678022421664% of our times

In [61]:
print('positive instances accounted for {}% of our times'.format(7481/(24720+7481)*100))

positive instances accounted for 23.23219775783361% of our times

In [62]:
df_train_raw.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,50k
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

# Encode Target Column

In [63]:
train_target = pd.get_dummies(df_train_raw).iloc[:,-1]

In [64]:
train_target.head()

0    0
1    0
2    0
3    0
4    0
Name: 50k_ >50K, dtype: uint8

# Unbalanced Data

In [65]:
train_target.value_counts()

0    22654
1     7508
Name: 50k_ >50K, dtype: int64

# Continuous Columns 

age, education_num, fnlwgt, capital_gain, capital_loss, hours_per_week

In [66]:
train_features_raw = df_train_raw.iloc[:,:-1]

In [67]:
len(train_features_raw.columns)

14

In [68]:
df_continuous = pd.concat([train_features_raw.age,
           train_features_raw.fnlwgt,
           train_features_raw.capital_gain,
           train_features_raw.capital_loss,
           train_features_raw.hours_per_week], axis=1)

# Categorical Columns 0's and 1's (No NA's)

In [69]:
train_features_raw = df_train_raw.iloc[:,:-1]

In [70]:
train_features_raw.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba

# Variables Containing Missing Values
### Native_Country, Workclass, Occupation

### native_country 

One more column than test data; [' Holand-Netherlands']

In [71]:
native_country = pd.get_dummies(train_features_raw.native_country)
native_country.head()

,Cambodia,Canada,China,Columbia,Cuba,Dominican-Republic,Ecuador,El-Salvador,England,France,...,Portugal,Puerto-Rico,Scotland,South,Taiwan,Thailand,Trinadad&Tobago,United-States,Vietnam,Yugoslavia
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [72]:
len(native_country.columns)

41

### workclass

In [73]:
train_features_raw.workclass.value_counts()

 Private             22286
 Self-emp-not-inc     2499
 Local-gov            2067
 State-gov            1279
 Self-emp-inc         1074
 Federal-gov           943
 Without-pay            14
Name: workclass, dtype: int64

In [74]:
workclass = pd.get_dummies(train_features_raw.workclass) 

workclass.head()

,Federal-gov,Local-gov,Private,Self-emp-inc,Self-emp-not-inc,State-gov,Without-pay
0,0,0,0,0,0,1,0
1,0,0,0,0,1,0,0
2,0,0,1,0,0,0,0
3,0,0,1,0,0,0,0
4,0,0,1,0,0,0,0

In [75]:
len(workclass.columns)

7

### occupation

In [76]:
occupation = pd.get_dummies(train_features_raw.occupation) 

len(occupation.columns)

14

In [77]:
occupation.head()

,Adm-clerical,Armed-Forces,Craft-repair,Exec-managerial,Farming-fishing,Handlers-cleaners,Machine-op-inspct,Other-service,Priv-house-serv,Prof-specialty,Protective-serv,Sales,Tech-support,Transport-moving
0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,1,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,1,0,0,0,0,0,0,0,0
3,0,0,0,0,0,1,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,1,0,0,0,0

### marital

In [78]:
marital_status = pd.get_dummies(train_features_raw.marital_status)
marital_status.head()

len(marital_status.columns)

7

### relationship

In [79]:
relationship = pd.get_dummies(train_features_raw.relationship)
relationship.head()

len(relationship.columns)

6

### race

In [80]:
race = pd.get_dummies(train_features_raw.iloc[:,8])
race.head()

len(race.columns)

5

### sex

In [81]:
sex = pd.get_dummies(train_features_raw.iloc[:,9])
sex.head() # Male = 1, Female = 0

    Female   Male
0        0      1
1        0      1
2        0      1
3        0      1
4        1      0

In [82]:
native_country.columns.get_loc(' Holand-Netherlands')

14

# Put dataset together

In [83]:
df1 = df_continuous.merge(sex, left_index=True, right_index = True)

In [84]:
df2 = df1.merge(race, left_index=True, right_index = True) # sex

In [85]:
df3 = df2.merge(relationship, left_index=True, right_index = True) # race

In [86]:
df4 = df3.merge(marital_status, left_index=True, right_index = True) # relationship

In [87]:
df5 = df4.merge(native_country, left_index=True, right_index = True) # native_country

In [88]:
df6 = df5.merge(workclass, left_index=True, right_index = True) # workclass

In [89]:
df = df6.merge(occupation, left_index=True, right_index = True) # occupation

In [90]:
len(df.columns)

87

### Insert Target

In [91]:
df.insert(loc=87, column = '>50k', value =train_target)

### Strip Excess White Space in Column names

In [92]:
df.columns = [x.strip() for x in df.columns]

In [93]:
len(df.columns)

88

In [94]:
df.head()

,age,fnlwgt,capital_gain,capital_loss,hours_per_week,Female,Male,Amer-Indian-Eskimo,Asian-Pac-Islander,Black,...,Handlers-cleaners,Machine-op-inspct,Other-service,Priv-house-serv,Prof-specialty,Protective-serv,Sales,Tech-support,Transport-moving,>50k
0,39,77516,2174,0,40,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,50,83311,0,0,13,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,38,215646,0,0,40,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,53,234721,0,0,40,0,1,0,0,1,...,1,0,0,0,0,0,0,0,0,0
4,28,338409,0,0,40,1,0,0,0,1,...,0,0,0,0,1,0,0,0,0,0

# Normalize continuous variables

In [95]:
def z_normalize(x):
    
    print(x.mean(), x.std())
    
    z = (x - x.mean())/x.std()
    
    return z

In [96]:
df.age = z_normalize(df.age)

38.437901995888865 13.134664776856338

In [97]:
df.fnlwgt = z_normalize(df.fnlwgt)

189793.83393011073 105652.97152851959

In [98]:
df.capital_gain  = z_normalize(df.capital_gain )

1092.0078575691268 7406.346496681988

In [99]:
df.capital_loss  = z_normalize(df.capital_loss )

88.37248856176646 404.2983704862744

In [100]:
df.hours_per_week  = z_normalize(df.hours_per_week)

40.93123798156621 11.979984229273281

In [101]:
df.head()

,age,fnlwgt,capital_gain,capital_loss,hours_per_week,Female,Male,Amer-Indian-Eskimo,Asian-Pac-Islander,Black,...,Handlers-cleaners,Machine-op-inspct,Other-service,Priv-house-serv,Prof-specialty,Protective-serv,Sales,Tech-support,Transport-moving,>50k
0,0.042795,-1.062704,0.146090,-0.218582,-0.077733,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0.880274,-1.007855,-0.147442,-0.218582,-2.331492,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,-0.033339,0.244689,-0.147442,-0.218582,-0.077733,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,1.108677,0.425233,-0.147442,-0.218582,-0.077733,0,1,0,0,1,...,1,0,0,0,0,0,0,0,0,0
4,-0.794684,1.406635,-0.147442,-0.218582,-0.077733,1,0,0,0,1,...,0,0,0,0,1,0,0,0,0,0

# Save to Data Frame

In [103]:
df.to_csv('dropna_train.csv')