# Train Data no NaN's

Generate training data with no nan's

In [154]:
import pandas as pd, numpy as np, re

In [155]:
col_names = ['age','workclass','fnlwgt','education', 'education_num','marital_status',
             'occupation','relationship','race','sex','capital_gain','capital_loss', 
             'hours_per_week','native_country','50k']

In [156]:
df_train_raw = pd.read_csv('census-income.data.csv', names = col_names)

In [157]:
df_train_raw = df_train_raw.replace(' ?', np.nan)

In [158]:
df_train_raw.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,50k
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

# Encode Target Column

In [159]:
train_target = pd.get_dummies(df_train_raw).iloc[:,-1]

In [160]:
train_target.head()

0    0
1    0
2    0
3    0
4    0
Name: 50k_ >50K, dtype: uint8

# Unbalanced Data

In [161]:
train_target.value_counts()

0    24720
1     7841
Name: 50k_ >50K, dtype: int64

# Continuous Columns 

age, education_num, fnlwgt, capital_gain, capital_loss, hours_per_week

In [162]:
train_features_raw = df_train_raw.iloc[:,:-1]

In [163]:
len(train_features_raw.columns)

14

In [164]:
df_continuous = pd.concat([train_features_raw.age,
           train_features_raw.fnlwgt,
           train_features_raw.capital_gain,
           train_features_raw.capital_loss,
           train_features_raw.hours_per_week], axis=1)

# Categorical Columns 0's and 1's (No NA's)

In [165]:
train_features_raw = df_train_raw.iloc[:,:-1]

In [166]:
train_features_raw.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba

# Variables Containing Missing Values
### Native_Country, Workclass, Occupation

### native_country 

One more column than test data; [' Holand-Netherlands']

In [167]:
train_features_raw.native_country.value_counts()

 United-States                 29170
 Mexico                          643
 Philippines                     198
 Germany                         137
 Canada                          121
 Puerto-Rico                     114
 El-Salvador                     106
 India                           100
 Cuba                             95
 England                          90
 Jamaica                          81
 South                            80
 China                            75
 Italy                            73
 Dominican-Republic               70
 Vietnam                          67
 Guatemala                        64
 Japan                            62
 Poland                           60
 Columbia                         59
 Taiwan                           51
 Haiti                            44
 Iran                             43
 Portugal                         37
 Nicaragua                        34
 Peru                             31
 France                           29
 Greece                           29
 Ecuador                          28
 Ireland                          24
 Hong                             20
 Trinadad&Tobago                  19
 Cambodia                         19
 Thailand                         18
 Laos                             18
 Yugoslavia                       16
 Outlying-US(Guam-USVI-etc)       14
 Honduras                         13
 Hungary                          13
 Scotland                         12
 Holand-Netherlands                1
Name: native_country, dtype: int64

In [168]:
train_features_raw.native_country.replace(np.nan, ' United-States', inplace = True)

In [169]:
native_country = pd.get_dummies(train_features_raw.native_country)
native_country.head()

,Cambodia,Canada,China,Columbia,Cuba,Dominican-Republic,Ecuador,El-Salvador,England,France,...,Portugal,Puerto-Rico,Scotland,South,Taiwan,Thailand,Trinadad&Tobago,United-States,Vietnam,Yugoslavia
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [170]:
len(native_country.columns)

41

### workclass

In [171]:
train_features_raw.workclass.value_counts()

 Private             22696
 Self-emp-not-inc     2541
 Local-gov            2093
 State-gov            1298
 Self-emp-inc         1116
 Federal-gov           960
 Without-pay            14
 Never-worked            7
Name: workclass, dtype: int64

In [172]:
train_features_raw.workclass.replace(np.nan, ' Private', inplace = True)

In [173]:
workclass = pd.get_dummies(train_features_raw.workclass) 

workclass.head()

,Federal-gov,Local-gov,Never-worked,Private,Self-emp-inc,Self-emp-not-inc,State-gov,Without-pay
0,0,0,0,0,0,0,1,0
1,0,0,0,0,0,1,0,0
2,0,0,0,1,0,0,0,0
3,0,0,0,1,0,0,0,0
4,0,0,0,1,0,0,0,0

In [174]:
len(workclass.columns)

8

### occupation

In [175]:
train_features_raw.occupation.value_counts()

 Prof-specialty       4140
 Craft-repair         4099
 Exec-managerial      4066
 Adm-clerical         3770
 Sales                3650
 Other-service        3295
 Machine-op-inspct    2002
 Transport-moving     1597
 Handlers-cleaners    1370
 Farming-fishing       994
 Tech-support          928
 Protective-serv       649
 Priv-house-serv       149
 Armed-Forces            9
Name: occupation, dtype: int64

In [176]:
train_features_raw.occupation.replace(np.nan, ' Prof-specialty', inplace = True)

In [177]:
occupation = pd.get_dummies(train_features_raw.occupation) 

len(occupation.columns)

14

In [178]:
occupation.head()

,Adm-clerical,Armed-Forces,Craft-repair,Exec-managerial,Farming-fishing,Handlers-cleaners,Machine-op-inspct,Other-service,Priv-house-serv,Prof-specialty,Protective-serv,Sales,Tech-support,Transport-moving
0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,1,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,1,0,0,0,0,0,0,0,0
3,0,0,0,0,0,1,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,1,0,0,0,0

### marital

In [179]:
marital_status = pd.get_dummies(train_features_raw.marital_status)
marital_status.head()

len(marital_status.columns)

7

### relationship

In [180]:
relationship = pd.get_dummies(train_features_raw.relationship)
relationship.head()

len(relationship.columns)

6

### race

In [181]:
race = pd.get_dummies(train_features_raw.iloc[:,8])
race.head()

len(race.columns)

5

### sex

In [182]:
sex = pd.get_dummies(train_features_raw.iloc[:,9])
sex.head() # Male = 1, Female = 0

    Female   Male
0        0      1
1        0      1
2        0      1
3        0      1
4        1      0

In [183]:
native_country.columns.get_loc(' Holand-Netherlands')

14

# Put dataset together

In [184]:
df1 = df_continuous.merge(sex, left_index=True, right_index = True)

In [185]:
df2 = df1.merge(race, left_index=True, right_index = True) # sex

In [186]:
df3 = df2.merge(relationship, left_index=True, right_index = True) # race

In [187]:
df4 = df3.merge(marital_status, left_index=True, right_index = True) # relationship

In [188]:
df5 = df4.merge(native_country, left_index=True, right_index = True) # native_country

In [189]:
df6 = df5.merge(workclass, left_index=True, right_index = True) # workclass

In [190]:
df_mode = df6.merge(occupation, left_index=True, right_index = True) # occupation

In [191]:
len(df_mode.columns)

88

### Insert Target

In [192]:
df_mode.insert(loc=88, column = '>50k', value =train_target)

### Strip Excess White Space in Column names

In [193]:
df_mode.columns = [x.strip() for x in df_mode.columns]

In [194]:
len(df_mode.columns)

89

In [195]:
df_mode.head()

,age,fnlwgt,capital_gain,capital_loss,hours_per_week,Female,Male,Amer-Indian-Eskimo,Asian-Pac-Islander,Black,...,Handlers-cleaners,Machine-op-inspct,Other-service,Priv-house-serv,Prof-specialty,Protective-serv,Sales,Tech-support,Transport-moving,>50k
0,39,77516,2174,0,40,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,50,83311,0,0,13,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,38,215646,0,0,40,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,53,234721,0,0,40,0,1,0,0,1,...,1,0,0,0,0,0,0,0,0,0
4,28,338409,0,0,40,1,0,0,0,1,...,0,0,0,0,1,0,0,0,0,0

In [196]:
df_mode.columns

Index(['age', 'fnlwgt', 'capital_gain', 'capital_loss', 'hours_per_week',
       'Female', 'Male', 'Amer-Indian-Eskimo', 'Asian-Pac-Islander', 'Black',
       'Other', 'White', 'Husband', 'Not-in-family', 'Other-relative',
       'Own-child', 'Unmarried', 'Wife', 'Divorced', 'Married-AF-spouse',
       'Married-civ-spouse', 'Married-spouse-absent', 'Never-married',
       'Separated', 'Widowed', 'Cambodia', 'Canada', 'China', 'Columbia',
       'Cuba', 'Dominican-Republic', 'Ecuador', 'El-Salvador', 'England',
       'France', 'Germany', 'Greece', 'Guatemala', 'Haiti',
       'Holand-Netherlands', 'Honduras', 'Hong', 'Hungary', 'India', 'Iran',
       'Ireland', 'Italy', 'Jamaica', 'Japan', 'Laos', 'Mexico', 'Nicaragua',
       'Outlying-US(Guam-USVI-etc)', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Puerto-Rico', 'Scotland', 'South', 'Taiwan', 'Thailand',
       'Trinadad&Tobago', 'United-States', 'Vietnam', 'Yugoslavia',
       'Federal-gov', 'Local-gov', 'Never-worked', 'Private', 'Self-emp-inc',
       'Self-emp-not-inc', 'State-gov', 'Without-pay', 'Adm-clerical',
       'Armed-Forces', 'Craft-repair', 'Exec-managerial', 'Farming-fishing',
       'Handlers-cleaners', 'Machine-op-inspct', 'Other-service',
       'Priv-house-serv', 'Prof-specialty', 'Protective-serv', 'Sales',
       'Tech-support', 'Transport-moving', '>50k'],
      dtype='object')

# Normalize Continuous Variables

In [197]:
print(df_mode.age.mean(), df_mode.age.std())

38.58164675532078 13.640432553581146

In [198]:
df_mode.age = (df_mode.age - df_mode.age.mean()) / df_mode.age.std()

In [199]:
print(df_mode.fnlwgt.mean(), df_mode.fnlwgt.std())

189778.36651208502 105549.97769702233

In [200]:
df_mode.fnlwgt = (df_mode.fnlwgt - df_mode.fnlwgt.mean()) / df_mode.fnlwgt.std()

In [201]:
print(df_mode.capital_gain.mean(), df_mode.capital_gain.std())

1077.6488437087312 7385.292084839299

In [202]:
df_mode.capital_gain = (df_mode.capital_gain  - df_mode.capital_gain.mean())/df_mode.capital_gain.std()

In [203]:
print(df_mode.capital_loss.mean(), df_mode.capital_loss.std())

87.303829734959 402.960218649059

In [204]:
df_mode.capital_gain = (df_mode.capital_loss  - df_mode.capital_loss.mean())/df_mode.capital_loss.std()

In [205]:
print(df_mode.hours_per_week.mean(), df_mode.hours_per_week.std())

40.437455852092995 12.34742868173081

In [206]:
df_mode.hours_per_week = (df_mode.hours_per_week - df_mode.hours_per_week.mean()) / df_mode.hours_per_week.std()

In [207]:
df_mode.head()

,age,fnlwgt,capital_gain,capital_loss,hours_per_week,Female,Male,Amer-Indian-Eskimo,Asian-Pac-Islander,Black,...,Handlers-cleaners,Machine-op-inspct,Other-service,Priv-house-serv,Prof-specialty,Protective-serv,Sales,Tech-support,Transport-moving,>50k
0,0.030670,-1.063594,-0.216656,0,-0.035429,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0.837096,-1.008692,-0.216656,0,-2.222119,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,-0.042641,0.245075,-0.216656,0,-0.035429,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,1.057031,0.425795,-0.216656,0,-0.035429,0,1,0,0,1,...,1,0,0,0,0,0,0,0,0,0
4,-0.775756,1.408154,-0.216656,0,-0.035429,1,0,0,0,1,...,0,0,0,0,1,0,0,0,0,0

# Save to csv

In [208]:
df_mode.to_csv('train_mode_imp.csv')